@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;700&family=Klee+One:wght@600&display=swap");

ul {
  padding-inline-start: 0px;
}

button {
  font-family: "Klee One", cursive;
  font-size: large;
  margin-right: 15px;
  padding: 5px 8px;
  background-color: white;
  border-color: black;
  border-radius: 7px;
}

button:hover,
button:focus {
  background-color: rgb(190, 190, 190);
}

button:active {
  background-color: black;
  color: white;
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid;
  font-family: "Kalam", cursive;
  font-size: 1.7em;
  text-align: center;
}

.cell:hover,
.cell:focus {
  background-color: rgb(118, 118, 255);
  outline: none;
}

.cell-highlight-error {
  background-color: rgb(255, 166, 166);
}

.cell-user-entered {
  font-weight: bold;
}

.row0 {
  grid-row: 1;
  border-top: 3px solid;
  height: 38px;
}

.row1 {
  grid-row: 2;
}

.row2 {
  grid-row: 3;
  border-bottom: 3px solid;
  height: 38px;
}

.row3 {
  grid-row: 4;
}

.row4 {
  grid-row: 5;
}

.row5 {
  grid-row: 6;
  border-bottom: 3px solid;
  height: 38px;
}

.row6 {
  grid-row: 7;
}

.row7 {
  grid-row: 8;
}

.row8 {
  grid-row: 9;
  border-bottom: 3px solid;
  height: 38px;
}

.col0 {
  grid-column: 1;
  border-left: 3px solid;
  width: 38px;
}

.col1 {
  grid-column: 2;
}

.col2 {
  grid-column: 3;
}

.col3 {
  grid-column: 4;
  border-left: 3px solid;
  width: 38px;
}

.col4 {
  grid-column: 5;
}

.col5 {
  grid-column: 6;
}

.col6 {
  grid-column: 7;
  border-left: 3px solid;
  width: 38px;
}

.col7 {
  grid-column: 8;
}

.col8 {
  grid-column: 9;
  border-right: 3px solid;
  width: 38px;
}

#prompt {
  grid-row: 1;
  grid-column: 1/3;
  text-align: center;
}

#board-menu {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  align-items: center;
}

#sudoku-board {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(9, 40px);
  grid-template-rows: repeat(9, 40px);
  gap: 1px;
  grid-row: 2/4;
  grid-column: 1/2;
  padding-right: 35px;
  margin-left: auto;
  margin-right: 35px;
  border-right: dashed black;
  border-width: 2px;
}

#grid {
  grid-row: 1/10;
  grid-column: 1/10;
}

#error-message {
  margin-top: auto;
  margin-bottom: auto;
}

/*Responsive*/
@media (max-width: 1112px) {
  #board-menu {
    margin-top: 15px;
    margin-bottom: 30px;
  }
}

@media (max-width: 930px) {
  #menu-buttons {
    text-align: right;
    grid-row: 1;
  }

  #board-menu {
    display: grid;
    grid-template-columns: 1.7fr 1fr;
  }

  #sudoku-board {
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 35px;
    padding-right: 0;
    border-right: none;
    width: 368px;
  }

  #error-message {
    text-align: left;
    grid-row: 1;
  }
}

@media (max-width: 414px) {
  .cell {
    width: 30px;
    height: 30px;
    font-size: 1.4em;
  }

  .row0 {
    border-top: 3px solid;
    height: 28px;
  }

  .row2 {
    border-bottom: 3px solid;
    height: 28px;
  }

  .row5 {
    border-bottom: 3px solid;
    height: 28px;
  }

  .row8 {
    border-bottom: 3px solid;
    height: 28px;
  }

  .col0 {
    border-left: 3px solid;
    width: 28px;
  }

  .col3 {
    border-left: 3px solid;
    width: 28px;
  }

  .col6 {
    border-left: 3px solid;
    width: 28px;
  }

  .col8 {
    border-right: 3px solid;
    width: 28px;
  }

  #board-menu {
    grid-template-columns: none;
    grid-template-rows: 2fr 1.5fr;
    margin-bottom: 10px;
  }

  #menu-buttons {
    text-align: center;
  }

  #error-message {
    grid-row: 2;
    text-align: center;
  }

  #sudoku-board {
    grid-template-columns: repeat(9, 30px);
    grid-template-rows: repeat(9, 30px);
    margin-right: auto;
    width: 278px;
  }
}

@media (max-width: 320px) {
  .cell {
    width: 20px;
    height: 20px;
    font-size: 0.9em;
  }

  .row0 {
    border-top: 3px solid;
    height: 18px;
  }

  .row2 {
    border-bottom: 3px solid;
    height: 18px;
  }

  .row5 {
    border-bottom: 3px solid;
    height: 18px;
  }

  .row8 {
    border-bottom: 3px solid;
    height: 18px;
  }

  .col0 {
    border-left: 3px solid;
    width: 18px;
  }

  .col3 {
    border-left: 3px solid;
    width: 18px;
  }

  .col6 {
    border-left: 3px solid;
    width: 18px;
  }

  .col8 {
    border-right: 3px solid;
    width: 18px;
  }

  #sudoku-board {
    grid-template-columns: repeat(9, 20px);
    grid-template-rows: repeat(9, 20px);
    margin-right: auto;
    width: 188px;
  }
}
